name: VRT
on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - 'mobile/**'
      - '!.github/workflows/**'
      - '.github/workflows/vrt.yaml'

jobs:
  vrt:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
        with:
          package_json_file: package.json

      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: .node-version
          cache: 'pnpm'
          cache-dependency-path: '**/pnpm-lock.yaml'

      - name: Install fonts
        # 日本語が文字化けするためフォントをインストールする
        run: sudo apt install language-pack-ja fontconfig fonts-ipafont

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Storybook VRT
        run: pnpm --filter mobile vrt

      - uses: peter-evans/find-comment@b30e6a3c0ed37e7c023ccd3f1db5c6c0b0c23aad # v4.0.0
        id: find-comment
        if: always()
        with:
          comment-author: github-actions[bot]
          issue-number: ${{ github.event.pull_request.number }}
          body-includes: "VRTが完了しました"

      - name: comments to PR
        uses: peter-evans/create-or-update-comment@71345be0265236311c031f5c7866368bd1eff043 # v4.0.0
        if: success()
        with:
          comment-id: ${{ steps.find-comment.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            VRTが完了しました
            差分はありません
          edit-mode: replace

      - name: comments to PR
        uses: peter-evans/create-or-update-comment@71345be0265236311c031f5c7866368bd1eff043 # v4.0.0
        if: failure()
        with:
          comment-id: ${{ steps.find-comment.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            VRTが完了しました
            :warning: **VRT に差分があります**
          edit-mode: replace

      - name: Save VRT Report
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: failure()
        with:
          name: report
          path: ./mobile/vrt/public/report
